{% extends 'layout.twig' %}

{% block Content %}
    <ol class="breadcrumb page-breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>

    <div class="page-header">
        <div class="row">
            <div class="col-md-4 text-xs-center text-md-left text-nowrap">
                <h1><i class="page-header-icon ion-ios-pulse-strong"></i>Dashboard</h1>
            </div>

            <hr class="page-wide-block visible-xs visible-sm">

            <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
                <a href="#" class="btn btn-primary btn-block"><span class="btn-label-icon left ion-plus-round"></span>Create project</a>
            </div>

            <!-- Spacer -->
            <div class="m-b-2 visible-xs visible-sm clearfix"></div>

            <form action="" class="page-header-form col-xs-12 col-md-4 pull-md-right">
                <div class="input-group">
                    <span class="input-group-addon b-a-0 font-size-16"><i class="ion-search"></i></span>
                    <input type="text" placeholder="Search..." class="form-control p-l-0 b-a-0">
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Group</div>
                </div>
                <form class="panel-body" method="post">
                    <fieldset>
                        <legend>Database</legend>
                        <div class="form-group">
                            <label for="db_location">Location</label>
                            <input type="text" name="db_location" class="form-control" id="db_location" placeholder="localhost">
                        </div>
                        <div class="form-group">
                            <label for="db_name">Name</label>
                            <input type="text" name="db_name" class="form-control" id="db_name" placeholder="mydatabase">
                        </div>
                        <div class="form-group">
                            <label for="db_username">Username</label>
                            <input type="text" name="db_username" class="form-control" id="db_username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="db_password">Password</label>
                            <input type="password" name="db_password" class="form-control" id="db_password" placeholder="password">
                        </div>
                    </fieldset>
                    <div class="">
                        <button name="Action" value="Config" class="btn">Opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}