{% extends 'layout.twig' %}

{% block Content %}

    <ol class="breadcrumb page-breadcrumb">
        <li><a href="/products">Products</a></li>
        <li class="active">Categories</li>
    </ol>

    <div class="page-header">
        <div class="row">
            <div class="col-md-4 text-xs-center text-md-left text-nowrap">
                <h1>Categories</h1>
            </div>

            <hr class="page-wide-block visible-xs visible-sm">

            <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
                <a href="/products" class="btn btn-secondary btn-block">
                    Back
                </a>
            </div>
        </div>
    </div>

{% endblock %}