{% extends 'logincontainer.twig' %}

{% block Content %}

    <div class="page-signin-header p-a-2 text-sm-center bg-white">
        <a class="px-demo-brand px-demo-brand-lg text-default" href="index.html">
            <span class="px-demo-logo bg-primary m-t-0">
                <span class="px-demo-logo-1"></span>
                <span class="px-demo-logo-2"></span>
                <span class="px-demo-logo-3"></span>
                <span class="px-demo-logo-4"></span>
                <span class="px-demo-logo-5"></span>
                <span class="px-demo-logo-6"></span>
                <span class="px-demo-logo-7"></span>
                <span class="px-demo-logo-8"></span>
                <span class="px-demo-logo-9"></span>
            </span>
            PixelAdmin
        </a>
    </div>

    <!-- Sign In form -->

    <div class="page-signin-container" id="page-signin-form">
        <h2 class="m-t-0 m-b-4 text-xs-center font-weight-semibold font-size-20">Sign In to your Account</h2>

        <form action="index.html" class="panel p-a-4">
            <fieldset class=" form-group form-group-lg">
                <input type="text" class="form-control" placeholder="Username or Email">
            </fieldset>

            <fieldset class=" form-group form-group-lg">
                <input type="password" class="form-control" placeholder="Password">
            </fieldset>

            <div class="clearfix">
                <label class="custom-control custom-checkbox pull-xs-left">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    Remember me
                </label>
                <a href="#" class="font-size-12 text-muted pull-xs-right" id="page-signin-forgot-link">Forgot your password?</a>
            </div>

            <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Sign In</button>
        </form>
    </div>

    <!-- / Sign In form -->

    <!-- Reset form -->

    <div class="page-signin-container" id="page-signin-forgot-form">
        <h2 class="m-t-0 m-b-4 text-xs-center font-weight-semibold font-size-20">Password reset</h2>

        <form action="index.html" class="panel p-a-4">
            <fieldset class="form-group form-group-lg">
                <input type="email" class="form-control" placeholder="Your Email">
            </fieldset>

            <button type="submit" class="btn btn-block btn-lg btn-primary m-t-3">Send password reset link</button>
            <div class="m-t-2 text-muted">
                <a href="#" id="page-signin-forgot-back">&larr; Back</a>
            </div>
        </form>
    </div>

{% endblock %}